<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
<div th:insert="menu"></div>
<div class="container mt-5">
    <h1 class="display-4" align="center" > Moziuniverzum </h1><br>
    <p class="lead" align="justify">Üdvözöljük a Moziuniverzum Kft weboldalán, ahol a filmélmények széles skáláját kínáljuk Budapesten! A 42 különböző helyszínünkön modern és kényelmes mozitermeinkben minden nap változatos filmkínálat várja a nézőket. Az egyedülálló filmélmény érdekében folyamatosan frissítjük a kínálatunkat, hogy minden ízlést kielégítsünk.<br>
        A Moziuniverzum Kft nem csupán egy filmszínházat jelent Budapesten, hanem egy valódi filmélmény központját. Korszerű technológiával felszerelt mozitermeinkben a legfrissebb filmeket vetítjük, hogy minden látogatónk számára felejthetetlen pillanatokat teremtsünk. A 42 különböző helyszínünk mindegyike egyedi atmoszférával rendelkezik, így mindenki megtalálja a neki megfelelő környezetet a filmnézéshez.<br>
        Nem csupán a mainstream produkciókra helyezzük a hangsúlyt, hanem lehetőséget adunk a független filmek és művészfilmek szerelmeseinek is, hogy új, izgalmas alkotásokkal találkozzanak nálunk. A Moziuniverzum a moziélmény mellett rendezvények széles palettáját is kínálja, beleértve premierpartikat, filmfesztiválokat és tematikus eseményeket. Az elkötelezett személyzetünk mindent megtesz azért, hogy a látogatóink teljes mértékben kielégítő élményt éljenek át nálunk. Budapest kulturális életének meghatározó része vagyunk, és mindig azon dolgozunk, hogy a Moziuniverzum a város egyik kedvenc szórakozási helyszíne legyen. Csatlakozzon hozzánk, és fedezze fel velünk a filmek varázslatos világát minden alkalommal!<br>
        Jó szórakozást kíván a Moziuniverzum csapata!
    </p>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>